<<<<<<< HEAD
.view{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
=======
#navigation{
  display:flex;
  flex-direction:row;
>>>>>>> c3a0a932c4acc3e8a5ddb54aadf2ad9d9219196a
}