body{
    background-color: cornflowerblue;
}
#navigation{
    display: flex;
    flex-direction: row;
    
   background-color:white;

}

.headernav{
 padding:2%;
 margin-left: auto;
 margin-right: auto;
}

#menubars{
height:25px;
width: 20px;
padding-top: 20px;
padding-left: 20px;

}
#logo{
    height:60px;
    width: 40%; 

}

#searchbar{
    width: 20%; 
    height:25px;
    display: flex;
    flex-direction: row;
    margin-right: 20%;
    width:100%;
    padding-top: 4%;
}
#searchbarbtn{
    height: 10px;
    width: 15px;   
 
}
#uploadlogodiv{
    padding-top: 4%;
}
#uploadlogo{
    height: 20px;
    width: 20px; 
}
#signinbtn{
    height: 29px;
    width: 34px; 
    padding-top: 4%; 
    margin-right: 5%;
}
iframe {
    width: 560px;
    height: 315px;
    padding: 40px;
}
#sideBar{
    background-color: blanchedalmond;
}

#image1{
    margin-top: 0%;
    margin-right: 4%;

}
#image2{
    height: 200px;
    width: 300px;
    margin-left: 75%;

}
#image3{
    margin-left: 75%;

}